.sidenav-container {
  height: 100%;
  overflow: visible;
  z-index: 999;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  /*background: inherit;*/
  /*background-color: #00427c;*/
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

mat-toolbar mat-sidenav-container {
  display: flex;
  justify-content: center;
}

.empty {
  /*color: red;*/
}

.center {
  text-align: center;
  width: 100%;
}
