<mat-sidenav-container class="sidenav-container" >
  <!--left menu-->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'push'"
               [opened]="isOpened">
    <mat-toolbar
      [color]="menuConfiguration.color"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="onHamburgerMenuClick(false)"
        *ngIf="isHandset$ | async">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>

      <div class="center">
        {{ menuConfiguration.applicationName }}
      </div>

    </mat-toolbar>
    <mat-nav-list>

      <!-- left top (left) menu  -->
      <ng-container *ngFor="let menuItem of menuConfiguration.leftMenuItems">
        <lib-master-menu-button
          *ngIf="(menuConfiguration.isMenuVisibleMethod(menuItem) | async) && menuItem.childMenuItems"
          [menuItem]="menuItem" [isMenuVisibleMethod]="menuConfiguration.isMenuVisibleMethod"
          [routerLinkActiveClass]="menuConfiguration.activeRouterLinkClass"
          (menuClicked)="onMenuClicked($event)"
          location="left"></lib-master-menu-button>
        <lib-menu-button
          *ngIf="(menuConfiguration.isMenuVisibleMethod(menuItem) | async) && !menuItem.childMenuItems"
          [menuItem]="menuItem"
          (click)="onMenuClicked(menuItem)"
          [routerLinkActiveClass]="menuConfiguration.activeRouterLinkClass"
          (menuClicked)="onMenuClicked($event)"
          location="left"></lib-menu-button>
      </ng-container>

      <mat-divider></mat-divider>

      <!--  left bottom (right)  menu  -->
      <ng-container *ngFor="let menuItem of menuConfiguration.rightMenuItems">
        <lib-master-menu-button
          *ngIf="(menuConfiguration.isMenuVisibleMethod(menuItem) | async) && menuItem.childMenuItems" [menuItem]="menuItem"
          [isMenuVisibleMethod]="menuConfiguration.isMenuVisibleMethod"
          [routerLinkActiveClass]="menuConfiguration.activeRouterLinkClass"
          (menuClicked)="onMenuClicked($event)"
          location="left"></lib-master-menu-button>
        <lib-menu-button
          *ngIf="(menuConfiguration.isMenuVisibleMethod(menuItem) | async) && !menuItem.childMenuItems"
          [menuItem]="menuItem"
          [routerLinkActiveClass]="menuConfiguration.activeRouterLinkClass"
          (menuClicked)="onMenuClicked($event)"
          location="left"></lib-menu-button>
      </ng-container>

      <mat-divider></mat-divider>

      <!--  left profile button  -->
      <a
        mat-list-item
        [routerLink]="menuConfiguration.profile.routerLink"
        [routerLinkActive]="(menuConfiguration.activeRouterLinkClass ? menuConfiguration.activeRouterLinkClass : null)"
        *ngIf="menuConfiguration.profile && menuConfiguration.profile.showProfile && menuConfiguration.profile.isAuthenticated$ | async"
        (click)="onMenuClicked(menuConfiguration.profile)"
        [matTooltip]="menuConfiguration.profile.tooltipText"
      >
        <fa-icon [icon]="menuConfiguration.profile.faIcon ? menuConfiguration.profile.faIcon : faUser" [size]="(menuConfiguration.profile.faSize ? menuConfiguration.profile.faSize : '1x')"></fa-icon>
        <span >&nbsp;{{ (menuConfiguration.profile.username$ | async) | uppercase}}</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <!--top menu-->
  <mat-sidenav-content>
    <mat-toolbar [color]="menuConfiguration.color" fxHide fxShow.lt-md>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="onHamburgerMenuClick(true)"
        *ngIf="!isOpened && isHandset$ | async">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>

      <button mat-button [routerLink]="menuConfiguration.applicationRouterLink" *ngIf="!isOpened">
        <img
          *ngIf="menuConfiguration.applicationLogoUri && menuConfiguration.applicationLogoAlt"
          [src]="menuConfiguration.applicationLogoUri" [alt]="menuConfiguration.applicationLogoAlt"
          (click)="onMenuClicked({name: 'application'})"
        >
      </button>
      <span class="center">
        {{ menuConfiguration.applicationName }}
      </span>
    </mat-toolbar>
    <mat-toolbar [color]="menuConfiguration.color" fxHide fxShow.gt-sm>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="isOpened = !isOpened"
        *ngIf="!isOpened && isHandset$ | async">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>

      <button
        mat-button
        [routerLink]="menuConfiguration.applicationRouterLink" *ngIf="!isOpened && menuConfiguration.applicationName"
        (click)="onMenuClicked({name: 'application'})"
      >
        <img *ngIf="menuConfiguration.applicationLogoUri && menuConfiguration.applicationLogoAlt" [src]="menuConfiguration.applicationLogoUri" [alt]="menuConfiguration.applicationLogoAlt">
        {{ menuConfiguration.applicationName }}
      </button>

      <!--  top left menu  -->
      <ng-container *ngFor="let menuItem of menuConfiguration.leftMenuItems">
        <lib-master-menu-button
          *ngIf="(menuConfiguration.isMenuVisibleMethod(menuItem) | async) && menuItem.childMenuItems"
          [menuItem]="menuItem"
          [isMenuVisibleMethod]="menuConfiguration.isMenuVisibleMethod"
          [routerLinkActiveClass]="menuConfiguration.activeRouterLinkClass"
          (menuClicked)="onMenuClicked($event)"
        ></lib-master-menu-button>
        <lib-menu-button
          *ngIf="(menuConfiguration.isMenuVisibleMethod(menuItem) | async) && !menuItem.childMenuItems"
          [routerLinkActiveClass]="menuConfiguration.activeRouterLinkClass"
          [menuItem]="menuItem"
          (menuClicked)="onMenuClicked($event)"
        ></lib-menu-button>
      </ng-container>

      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>

      <!-- top right  menu  -->
      <ng-container *ngFor="let menuItem of menuConfiguration.rightMenuItems" >
        <lib-master-menu-button
          *ngIf="(menuConfiguration.isMenuVisibleMethod(menuItem) | async) && menuItem.childMenuItems"
          [routerLinkActiveClass]="menuConfiguration.activeRouterLinkClass"
          [menuItem]="menuItem" [isMenuVisibleMethod]="menuConfiguration.isMenuVisibleMethod"
          (menuClicked)="onMenuClicked($event)"
        ></lib-master-menu-button>
        <lib-menu-button
          *ngIf="(menuConfiguration.isMenuVisibleMethod(menuItem) | async) && !menuItem.childMenuItems"
          [routerLinkActiveClass]="menuConfiguration.activeRouterLinkClass"
          [menuItem]="menuItem"
          (menuClicked)="onMenuClicked($event)"
        ></lib-menu-button>
      </ng-container>

      <!-- top profile button  -->
      <button
        mat-button
        [routerLink]="menuConfiguration.profile.routerLink"
        [routerLinkActive]="(menuConfiguration.activeRouterLinkClass ? menuConfiguration.activeRouterLinkClass : null)"
        *ngIf="menuConfiguration.profile && menuConfiguration.profile.showProfile && menuConfiguration.profile.isAuthenticated$ | async"
        (click)="onMenuClicked(menuConfiguration.profile)"
        [matTooltip]="menuConfiguration.profile.tooltipText"
      >
        <fa-icon [icon]="menuConfiguration.profile.faIcon ? menuConfiguration.profile.faIcon : faUser" [size]="(menuConfiguration.profile.faSize ? menuConfiguration.profile.faSize : '1x')"></fa-icon>
        <span >&nbsp;{{ (menuConfiguration.profile.username$ | async) | uppercase}}</span>
      </button>

    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

